.popupcontainer{
     display: flex;
     gap: 20px;

     img{
          width: 64px;
          height: 64px;
          object-fit: cover;
          border-radius: 5px;
     }

     .textContainer{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          
               .directionbtn {
                         padding: 5px;
                         font-size: smaller;
                         background-color: #fece51;
                         border: none;
                         border-radius: 10px;
                         cursor: pointer;
                    }
     }
}